<!DOCTYPE html>
<html lang="zh">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
    <title>{% block title_name %}{{ question.q_title }}--问题详情{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app/index.css' %}">
    <style>
        .top{
            background-color: #fff;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }
        .question{
            padding-bottom: 20px;
        }
        .question_content{
            line-height: 1.6;
            font-size: 15px;
        }
        .num{
            width: 90px;
            height: 60px;
            margin: 20px auto;
            text-align: center;
        }
        .browse_num{
            font-size: 18px;
            text-align: center;
            font-weight: 600;
            display: inline-block;
        }
        .write_answer{
            margin: 10px;
        }
        .nickname{
            font-size: 15px;
            font-weight: 600;
            height: 40px;
            line-height: 40px;
            margin: 5px;
        }
        .answer{
            background-color: #fff;
            margin: 10px 0 10px 0;
            padding: 10px;
        }
        .answer_content{
            margin: 10px;
            overflow: hidden;
        }
        .info_num{
            margin: 10px;
        }
    </style>
</head>
<body>
{% block nav %}
    <div id="nav-top">
        <div class="container-fluid">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><b id="brand">Circle</b></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="/">首页 <span class="sr-only">(current)</span></a></li>
                                <li><a href="/question/">问答</a></li>
                                <form class="navbar-form navbar-left">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"
                                              style="margin-left: -30px;line-height:34px;"></span>
                                    </div>
                                    <!-- <button type="submit" class="btn btn-default">Submit</button> -->
                                </form>
                            </ul>
                            <ul class="nav navbar-nav navbar-right" id="log_reg">
                                <li><a href="/users/">登录</a></li>
                                <li><a href="/users/register/">注册</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right" id="user_info">

                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

<main style="margin-top: 0;">
    <div class="top">
        <div class="container question">
            <div class="col-md-8">
                <ol class="breadcrumb" style="background-color: #fff;margin-bottom: 0;">
                  <li><a href="#"> {{ question.q_type.name }}</a></li>
                </ol>
                <h1 style="margin-top:10px;font-size: 22px;color: #1A1A1A;font-weight: 600;line-height: 33px;"><a href="/question/answer/{{ question.id }}">{{ question.q_title }}</a></h1>
                <div class="question_content">
                    {{ question.q_miaoshu }}
                </div>
                <div class="write_answer">
                    <button class="btn" id="answering">写回答</button>
                    {% if request.user == question.user %}
                    <a href="">修改</a>
                    {% else %}{% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="num">
                    <div>被浏览：</div>
                    <div class="browse_num">{{ question.browse_num }}</div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="col-md-8">
            <div id="write_answer" style="display: none;">
                <textarea name="answer" id="answer" cols="90" rows="10"></textarea>
                <a href="javascript:void(0);" class="btn btn-default" id="write_answer_ok">提交回答</a>
                <span id="write_answer_tips"></span>
            </div>
            {% for a in answer %}
            <div class="answer">
                <div class="nickname">{{ a.user_more_info.u_nick_name }}</div>
                <div class="answer_content">{{ a.a_content|safe|truncatechars:96 }}  <a style="color: #00a0e9;" href="/question/answer/detail/{{ a.id }}">查看详细</a></div>
                <div class="info_num">赞：{{ a.zan_num }}浏览量：{{ a.browse_num }}</div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">

        </div>
    </div>
</main>

{% csrf_token %}
{% load static %}
<script src="{% static 'js/lib/jquery.js' %}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="{% static 'js/app/index.js' %}"></script>
<script>
$(document).ready(function () {
    var token = $('input[name=csrfmiddlewaretoken]').val();
    form_list = {csrfmiddlewaretoken: token};
    $.ajax({
        url: "/users/api/v1/ajax_get_user_is/",
        method: "POST",
        dataType: "json",
        data: form_list,
        success: function (data) {
            console.log(data);
            if(data.code == 0){
                $("#log_reg").empty();
                ht = "<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>" + data.user + "<span class='caret'></span></a><ul class='dropdown-menu'><li><a href='#'><span class='glyphicon glyphicon-user' aria-hidden='true'></span>  我的主页</a></li> <li><a href='#'><span class='glyphicon glyphicon-cog' aria-hidden='true'></span>  设置</a></li><li><a href='/users/user_logout/'><span class='glyphicon glyphicon-off' aria-hidden='true'></span>  退出登录</a></li></ul></li>"
                $("#user_info").html(ht);
            }
        }
    })
});

$("#answering").click(function () {
    $("#write_answer").css('display','block')
});

$("#write_answer_ok").click(function () {
    var answer = $("#answer").val();
    console.log(answer);
    if(answer.length>0){
        var token = $('input[name=csrfmiddlewaretoken]').val();
        var q_id ={{ question.id }}
            console.log("asd", q_id);
        form_list = {csrfmiddlewaretoken: token};
        form_list['q_id'] = q_id;
        form_list['answer'] = answer;
        console.log(form_list);
        $.ajax({
            url: "/question/api/v1/add_answer/",
            method: "POST",
            dataType: "json",
            data: form_list,
            success: function (data) {
                if (data.code == 0) {
                    alert("发布回答成功");
                    location.reload()
                } else {
                    alert("出现异常" + data.msg)
                }
            }
        })
    }else{
        $("#write_answer_tips").html("您的回答写的太短了")
    }
})
</script>
</body>
</html>