<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<h1>修改密码</h1>
{% csrf_token %}
<div id="msg"></div>
旧密码：<input type="password" name="password" id="password"><br>
<div id="new_pwd"></div>

{% load static %}
<script src="{% static 'js/lib/jquery.js' %}"></script>
<script>
    $(function () {
        $("#password").on("blur", function () {
            var token = $('input[name=csrfmiddlewaretoken]').val();
            var old_password = $("#password").val();
            id = {{request.user.id}}
            form_list = {csrfmiddlewaretoken: token};
            form_list['id'] = id;
            form_list['old_password'] = old_password;
            // console.log(form_list);
            $.ajax({
                url: "/users/api/v1/ajax_get_oldpassword/",
                method: "POST",
                dataType: "json",
                data: form_list,
                success:function (data) {
                    console.log(data)
                    if (data.code == -1){
                        $("#msg").html("<span style='color:red;'>" + data.msg + "</span>");
                        $("#new_pwd").empty();
                    }
                    if (data.code == 0){
                        // $("#msg").html("<span style='color:green;'>" + data.msg + "</span>");
                        $("#new_pwd").html("新密码："+"<input type='password' name='new_password' id='new_password'><br>"+
                            "确认新密码："+"<input type='password' name='confirm_password' id='confirm_password'>"+
                                "<a href='javascript:void(0);' onclick='change_password()' id='change_password'>修改密码</a>"
                        );
                    }
                }
            })
        })
    });

    function change_password() {
        var old_Pwd = $("#password").val();
        var new_pwd = $("#new_password").val();
        var confirm_pwd = $("#confirm_password").val();
        // console.log(new_pwd, confirm_pwd);
        var token = $('input[name=csrfmiddlewaretoken]').val();
        id = {{request.user.id}}
        form_list = {csrfmiddlewaretoken: token};
        form_list['id'] = id;
        form_list['old_Pwd'] = old_Pwd;
        form_list['new_pwd'] = new_pwd;
        form_list['confirm_pwd'] = confirm_pwd;
        // console.log(form_list);
        $.ajax({
            url: "/users/api/v1/ajax_change_password/",
            method: "POST",
            dataType: "json",
            data: form_list,
            success:function (data) {
                console.log(data);
                $("#msg").html("<span style='color:red;'>" + data.msg + "</span>");
                if(data.code==0){
                    $("#msg").html("<span style='color:green;'>" + data.msg + "</span>");
                    setTimeout("javascript:location.href='/users/'", 2000);
                }
                // 退出当前登录 到登录页面
            }
        })
    }
</script>
</body>
</html>