{% extends 'base.html' %}
{% block title_name %}{{ user_more_info.u_nick_name }} 的主页-python圈|(Circle){% endblock %}
{% block main %}

    <style>
        .top_box {
            width: 100%;
            height: 134px;
            background-color: #eee;
        }

        .bottom_box {
            width: 100%;
            height: 134px;
            background: #fff;
        }

        .header {
            width: 150px;
            height: 150px;
            margin-top: -50px;
            margin-left: 20px;
        }

        .header img {
            border-radius: 15px;
        }

        .infos {
            margin: 33px;
        }

        .name {
            font-size: 18px;
            font-weight: 600;
        }

        .qm {
            margin: 25px 0;
        }

        .change {
            margin: 66px 30px;
        }
        #num{
            color: #999;
        }
    h4{
        padding: 10px 0 5px;
    }
        #follow {
        background-color: #fff;
        width: 100%;
        height: 99px;
        margin-top: 35px;
        line-height: 99px;
        text-align: center;
        font-size: 19px;
    }

    #follow > span {
        width: 49%;
        /*background-color: #aaa;*/
        display: inline-block;
    }

    #follow > span:last-child {
        border-left: 1px solid #abc;
    }
    </style>
    <div class="boxs">
        <div class="top_box">
        </div>
        <div class="bottom_box">
            <div class="header pull-left">
                <img src="/static/articles/uepload/{{ user_more_info.u_header }}" width="100%" height="100%">
            </div>
            <div class="infos pull-left">
                <div class="name">{{ user_more_info.u_nick_name }}</div>
                <div class="qm">{{ user_more_info.u_autograph }}</div>
            </div>
            <div class="change pull-right">
                <button class="btn"><a href="/users/edit/">修改个人资料</a></button>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#article" aria-controls="article" role="tab" data-toggle="tab">文章 <span id="num">{{ article_count }}</span></a></li>
                <li role="presentation"><a href="#answer" aria-controls="answer" role="tab" data-toggle="tab">回答 <span id="num">{{ answer_count }}</span></a></li>
                <li role="presentation"><a href="#question" aria-controls="question" role="tab" data-toggle="tab">提问 <span id="num">{{ question_count }}</span></a>
                <li role="presentation"><a href="#favorites_articles" aria-controls="favorites_articles" role="tab" data-toggle="tab">收藏 <span id="num">{{ favorites_articles_count }}</span></a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- 热文章 -->
                <div role="tabpanel" class="tab-pane active" id="article">
                    {% for a in articles %}
                    <div class="media">
                        <h4 class="media-heading"><a href="/articles/article/{{ a.id }}">{{ a.title }}</a> <small><a href="/articles/update_article/?article_id={{a.id}}" style="color: forestgreen;"> 修改文章</a></small></h4>
                        <div class="media-body">
                            <div class="zhaiyao">
                                {{ a.zhaiyao|safe|truncatechars:79 }}
                            </div>
                            <div class="info">
                                发布时间：{{ a.create_time }} | 阅读量：{{ a.count }} | <a href="javascript:void(0);" style="color: darkred" onclick="del_article({{ a.id }})">删除</a>
                            </div>
                        </div>
                        {% if a.cover_img %}
                        <div class="media-left">
                            <a href="/articles/article/{{ a.id }}">
                                <img class="media-object show_header" src="/static/articles/uepload/{{ a.cover_img }}">
                            </a>
                        </div>
                        {% else %}
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
                <!-- 回答 -->
                <div role="tabpanel" class="tab-pane" id="answer">
                    {% for a in answer %}
                    <div class="media">
                        <h4 class="media-heading"><a href="/articles/article/{{ a.link_question_id }}">{{ a.link_question.q_title }}</a></h4>
                        <div class="media-body">
                            <div class="zhaiyao">
                                {{ a.a_content|safe|truncatechars:79 }}
                            </div>
                            <div class="info"><a href="javascript:void(0);" onclick="del_answer({{ a.id }})">删除</a></div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <!-- 提问 -->
                <div role="tabpanel" class="tab-pane" id="question">
                     <ul class="list-group">
                    {% for q in question %}
                        <li class="list-group-item">
                            <a href="/question/answer/{{ q.id }}/">{{ q.q_title }}</a>
                            <a class="pull-right" href="javascript:void(0);" onclick="del_question({{ q.id }})">删除</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <!--收藏-->
                <div role="tabpanel" class="tab-pane" id="favorites_articles">
                    <ul class="list-group">
                        {% for f_a in favorites_articles %}
                        <li class="list-group-item">
                            <a href="/articles/article/{{f_a.favorites_articles.id}}/">{{ f_a.favorites_articles.title }}</a>
                            <!--<a class="pull-right" href="javascript:void(0);" >取消收藏</a>-->
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            </div>
</div>
<div class="col-md-4">
    <div id="follow">
        <span><a href="javascript:void(0);" onclick="show_follow_list()" data-toggle="modal" data-target="#myModal">关注：{{follow_count}}</a></span>
        <span><a href="javascript:void(0);" onclick="show_fan_list()" data-toggle="modal" data-target="#myModal1">被关注：{{fan_count}}</a></span>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">关注了</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group" id="follow_user_list">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel1">关注了</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group" id="fan_user_list">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

    <script>

        function show_fan_list() {
        var token = $('input[name=csrfmiddlewaretoken]').val();
        form_list = {csrfmiddlewaretoken: token};
        console.log(form_list);
        $.ajax({
            url: "/users/api/v1/get_all_follow/",
            method: "POST",
            dataType: "json",
            data: form_list,
            success: function (data) {
                if (data.data.length > 0) {
                    var count = 0;
                    html = ''
                    while (count < data.data.length) {
                        console.log(data.data[count].name);
                        console.log(data.data[count].pk);
                        var pk = parseInt(data.data[count].pk);
                        $("#fan_user_list").empty();
                        html1 = '<li class="list-group-item">' +
                            '<a href=/users/user_detail/?id=' + pk + '>' + data.data[count].name + '</a>'
                        if(data.data[count].is){
                            html1 += '<span id="is_follow'+ pk +'" class="pull-right"><button class="btn btn-xs btn-success" onclick="follow(' + pk + ')">关注</button></span></li>'
                        }else{
                            html1 += '<span id="is_follow'+ pk +'" class="pull-right"><button class="btn btn-xs btn-default" onclick="follow(' + pk + ')">取消关注</button></span></li>'
                        }
                        count += 1
                        html += html1
                    }
                    $("#fan_user_list").html(html);
                } else {
                    $("#fan_user_list").append("暂时还没粉丝~");
                }

            }
        })
    }

    function show_follow_list() {
        var token = $('input[name=csrfmiddlewaretoken]').val();
        form_list = {csrfmiddlewaretoken: token};
        console.log(form_list);
        $.ajax({
            url: "/users/api/v1/get_all_fan/",
            method: "POST",
            dataType: "json",
            data: form_list,
            success: function (data) {
                if (data.data.length > 0) {
                    var count = 0;
                    html = ''
                    while (count < data.data.length) {
                        console.log(data.data[count].name);
                        console.log(data.data[count].pk);
                        var pk = parseInt(data.data[count].pk);
                        $("#follow_user_list").empty();
                        html += '<li class="list-group-item">' +
                            '<a href=/users/user_detail/?id=' + pk + '>' + data.data[count].name + '</a>' +
                            '<span id="is_follow'+ pk +'" class="pull-right"><button class="btn btn-xs btn-default" onclick="follow(' + pk + ')">取消关注</button></span></li>'
                        count += 1
                    }
                    $("#follow_user_list").html(html);
                } else {
                    $("#follow_user_list").append("暂时还没关注其它人");
                }
            }
        })
    }

    function follow(obj) {
        var u = 'AnonymousUser';
        var login = '{{ request.user }}';
        if (login == u) {
            alert("请先登录")
            window.location.href = '/users/'
        } else {
            var token = $('input[name=csrfmiddlewaretoken]').val();
            form_list = {csrfmiddlewaretoken: token};
            var user_id = obj
            form_list['user_id'] = user_id;
            console.log(form_list)
            $.ajax({
                url: "/users/api/v1/follow/",
                method: "POST",
                dataType: "json",
                data: form_list,
                success: function (data) {
                    console.log(data);
                    if (data.code == 0) {
                        $("#is_follow").empty();
                        if (data.data) {
                            $("#is_follow"+obj).html('<button class="btn btn-xs btn-default" onclick="follow(' + user_id + ')">取消关注</button>')
                            alert(data.msg)
                        } else {
                            $("#is_follow"+obj).html('<button class="btn btn-xs btn-success" onclick="follow(' + user_id + ')">关注</button>')
                            alert(data.msg)
                        }
                    } else {
                        console.log(data.code)
                    }
                }
            })
        }
    }

        function del_article(obj) {
            var token = $('input[name=csrfmiddlewaretoken]').val();
            form_list = {csrfmiddlewaretoken: token};
            form_list['id'] = obj;
            console.log(form_list);
            $.ajax({
                url: "/articles/api/v1/del_article/",
                method: "POST",
                dataType: "json",
                data: form_list,
                success: function (data) {
                    console.log(data);
                    if (data.code == 0) {
                        alert(data.msg);
                        location.reload()
                    }else{
                        alert(data.msg)
                    }
                }
            })
        }

        function del_answer(obj) {
            var token = $('input[name=csrfmiddlewaretoken]').val();
            form_list = {csrfmiddlewaretoken: token};
            form_list['id'] = obj;
            console.log(form_list);
            $.ajax({
                url: "/question/api/v1/del_article/",
                method: "POST",
                dataType: "json",
                data: form_list,
                success: function (data) {
                    console.log(data);
                    if (data.code == 0) {
                        alert(data.msg);
                        location.reload()
                    }else{
                        alert(data.msg)
                    }
                }
            })
        }

        function del_question(obj) {
            var token = $('input[name=csrfmiddlewaretoken]').val();
            form_list = {csrfmiddlewaretoken: token};
            form_list['id'] = obj;
            console.log(form_list);
            $.ajax({
                url: "/question/api/v1/del_question/",
                method: "POST",
                dataType: "json",
                data: form_list,
                success: function (data) {
                    console.log(data);
                    if (data.code == 0) {
                        alert(data.msg);
                        location.reload()
                    }else{
                        alert(data.msg)
                    }
                }
            })
        }
    </script>

{% endblock %}